html {
  box-sizing: border-box;
  background-color: turquoise;
  background-image: url('./images/kisspng-rowan-atkinson-mr-bean-zazu-humour-laughter-mrbean-5b5ceee122ebf2.9971579215328171211431.png');
  background-repeat: no-repeat;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0px;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: 200px;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
.stats {
  display: flex;
  background: white;
}
.photo-card {
  border: 3px solid black;
  width: 350px;
  height: auto;
  margin: 10px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}
.stats-item {
  text-align: center;
}

.material-icons {
  text-align: center;
  vertical-align: bottom;
}
.load-more {
  margin-top: 20px;
  display: block;
}
.search-form {
  text-align: center;
  margin: 20px auto 20px auto;
}

.input-search {
  width: 300px;
  height: 40px;
  border: 3px solid black;
}

.input-submit {
  width: 100px;
  height: 40px;
  border: 3px solid black;
}

.d-none {
  display: none;
}
